* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tela 1 */
.fundo_infos {
  display: none;
  position: relative;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  
  
  .info_jogadores {
    background: white;
    max-width: 90%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    
    .jogador {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0;
      
      label {
        font-weight: bold;
        margin: 0;
      }
      
      input {
        margin: 0 0 10px 0;
        padding: 10px;
        border-radius: 20px;
        width: 90%;
      }
      
      button {
        width:50%;
        padding: 10px;
        border-radius: 20px;
        font-weight: bold;
      }
      
    }
    
    .jogador:nth-child(3) {
      margin: 10px 0 0 0;
      display: flex;
      gap: 20px;
    }
  }
}

/* tela 2 */
.campo_jogo {
  background: lightblue;
  display: none;
  flex-wrap: wrap;
  
  .painel_info {
    display: none;
  }
  
  .campo {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
     color: transparent;
  }
  
  .disabilitado {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .alerta {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    
    h4 {
      font-size: 30px;
    }
  }
}


/* tela 3 */
.placar {
  width: 80%;
  min-height: 300px;
  padding: 20px;
  background: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  h4 {
    font-size: 25px;
    text-decoration: underline;
  }
  
  .dados_jogo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    
    p {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    
    span {
      diplay: block;
      text-align: center;
    }
    
    #pontuacao_jogador::after {
      content: ' pts'
    }
  }
  
  .btns_placar {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    button {
      width:50%;
      padding: 10px;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}


/* tabela de pontuação*/
.box_tabela{
  max-height: 200px;
  width: 100%;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 10px;
}

#tabela_pontuacao, #tabela_pontuacao_inicio {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  
  th:nth-child(1) {
    width: 20%;
  }
  
  th:nth-child(2) {
    width: 50%;
  }
  
  th:nth-child(3) {
    width: 50%;
  }
  
  td {
    padding: 10px;
  }
  
}
